<div id="<%= dom_id network %>">
  <p>
    <strong>Is following:</strong>
    <%= network.is_following_id %>
  </p>

  <p>
    <strong>Being followed:</strong>
    <%= network.being_followed_id %>
  </p>

</div>
