<p style="color: green"><%= notice %></p>

<h1>Networks</h1>

<div id="networks">
  <% @networks.each do |network| %>
    <%= render network %>
    <p>
      <%= link_to "Show this network", network %>
    </p>
  <% end %>
</div>

<%= link_to "New network", new_network_path %>
